<%- active = context.request.path == "/" ? "active" : "" %>
<li class="nav-item <%= active %>">
  <a href="/" class="nav-link">Home</a>
</li>
<li class="nav-item">
  <% if current_user %>
    <a href="/logout" class="nav-link">Logout</a>
  <% else %>
    <a href="/login" class="nav-link">Login</a>
  <% end %>
</li>
