<%- active = context.request.path == "/" ? "active" : "" %>
<li class="nav-item <%= active %>">
  <a href="/" class="nav-link">Home</a>
</li>
<li class="nav-item">
  <% if !logged_in? %>
    <a href="/login" class="nav-link">Login</a>
  <% end %>
</li>
