<% if logged_in? %>
  <span class="session-email"><%= html_escape(get_current_user.try(&.email)) %></span>
  <form action="/logout" method="post"><%= csrf_tag %><button class="button button-secondary" type="submit">Sign out</button></form>
<% end %>
